name: Push our docker image
on:
  push:
    branches: main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-image:
    name: Build docker image for mastodon
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY_SERVER }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      -
        name: Checkout karin722/mastodon
        uses: actions/checkout@v4
        with:
          repository: karin722/mastodon
          path: mastodon
      -
        name: Build mastodon image
        uses: docker/build-push-action@v5
        with:
          context: mastodon
          file: mastodon/Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY_USERNAME }}/${{ secrets.REGISTRY_REPO }}:${{ secrets.REGISTRY_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
